<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
<p th:text="'Time: ' + ${theDate}" class="funny"></p>
<hr>
<p class="funny">Welcome Leaders </p>

<br>

<br>

<hr>
<p>
    <a th:href="@{/}">Back Home</a>
</p>

<br>

<p>
    <a th:href="@{/system}">Admin Meeting</a> (Only for admins)
</p>

<br>
<hr>
<form action="#" th:action="@{/logout}" method="post">

    <input type="submit" value="Logout">
</form>

</body>
</html>